In [93]:
import pandas as pd

In [94]:
pd.set_option('display.max_columns',50)

In [95]:
df = pd.read_excel("transactions.xlsx")

In [96]:
df.head()

,visitor_id,visit_date,total_transaction_revenue,channel_grouping,country,total_hits,total_pageviews,total_time_on_site,visit_number,cluster,device_category,products
0,213131142648941,2017-04-28,39590000,Direct,United States,14,13,272,1,1,desktop,1
1,435324061339869,2016-10-21,46790000,Referral,United States,14,11,627,2,1,desktop,1
2,562678147042735,2017-04-24,62610000,Referral,United States,18,16,319,2,0,desktop,1
3,562678147042735,2017-04-24,97700000,Referral,United States,18,16,319,2,0,desktop,1
4,585708896049892,2016-12-21,45970000,Referral,United States,22,20,634,1,0,desktop,3

In [97]:
df.shape

(11286, 12)

In [100]:
len(df)

11286

# Simulating Values for Region and City

In [101]:
import pandas as pd
import random
import geonamescache

# Set the random seed for reproducibility
random.seed(42)

# Create a geonamescache instance
gc = geonamescache.GeonamesCache()

# Get the list of US states
us_states = gc.get_us_states()
states_list = list(us_states.keys())

# Get the list of cities
cities = gc.get_cities()

# Create a dictionary to map state codes to their cities
state_to_cities = {}
for city_info in cities.values():
    if city_info['countrycode'] == 'US':  # Ensure the city is in the US
        state_code = city_info['admin1code']
        city_name = city_info['name']
        if state_code in state_to_cities:
            state_to_cities[state_code].append(city_name)
        else:
            state_to_cities[state_code] = [city_name]

# Define weights for states to skew the selection
# # For example, California (CA), Texas (TX), and Florida (FL) are more likely to be chosen
# state_weights = [1 if state not in ['CA', 'TX', 'FL'] else 10 for state in states_list]

# Generate random weights for each state
# state_weights = [random.randint(1, 10) for _ in states_list]
state_weights = [random.randint(1, 50)if state not in ['CA', 'TX', 'FL'] else 50 for state in states_list]
# Sample DataFrame
data = pd.DataFrame({'region': [None]*len(df), 'city': [None]*len(df)})

# Fill the DataFrame
for i in range(len(data)):
    state_code = random.choices(states_list, weights=state_weights, k=1)[0]
    state_name = us_states[state_code]['name']
    city_name = random.choice(state_to_cities[state_code])
    data.at[i, 'region'] = state_name
    data.at[i, 'city'] = city_name

df["region"]=data["region"]
df["city"] = data["city"]

              region              city
0           Kentucky      Madisonville
1       South Dakota         Watertown
2               Iowa              Ames
3               Ohio  Garfield Heights
4           Colorado         Littleton
...              ...               ...
11281  New Hampshire             Salem
11282         Nevada        Sun Valley
11283       Nebraska           Lincoln
11284        Florida      Four Corners
11285          Texas             Pharr

[11286 rows x 2 columns]

In [102]:
df["region"]=data["region"]
df["city"] = data["city"]

In [74]:
# df.drop(columns="Unnamed: 0",inplace=True)

In [103]:
df.columns

Index(['visitor_id', 'visit_date', 'total_transaction_revenue',
       'channel_grouping', 'country', 'total_hits', 'total_pageviews',
       'total_time_on_site', 'visit_number', 'cluster', 'device_category',
       'products', 'region', 'city'],
      dtype='object')

In [104]:
df.head()

,visitor_id,visit_date,total_transaction_revenue,channel_grouping,country,total_hits,total_pageviews,total_time_on_site,visit_number,cluster,device_category,products,region,city
0,213131142648941,2017-04-28,39590000,Direct,United States,14,13,272,1,1,desktop,1,Kentucky,Madisonville
1,435324061339869,2016-10-21,46790000,Referral,United States,14,11,627,2,1,desktop,1,South Dakota,Watertown
2,562678147042735,2017-04-24,62610000,Referral,United States,18,16,319,2,0,desktop,1,Iowa,Ames
3,562678147042735,2017-04-24,97700000,Referral,United States,18,16,319,2,0,desktop,1,Ohio,Garfield Heights
4,585708896049892,2016-12-21,45970000,Referral,United States,22,20,634,1,0,desktop,3,Colorado,Littleton

In [106]:
df.to_excel("transactions.xlsx",index=False)